@font-face {
  font-family: Poppins;
  src: url(./font/Poppins-Regular.ttf);
}

html, body {
  background-color: rgb(22, 22, 22);
  padding: 0;
  margin: 0;
  font-family: Poppins;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.warning {
  width: calc(100% - 20em);
  margin: 0;
  margin-left: 20em;
  margin-right: auto;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  font-variant: small-caps;
  background-color: #cc3300;
}


/* Navbar */
.navbar_container {
  margin: 0;
  width: 20em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  z-index: 99;
}

.navbar_profile {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.navbar_profile:hover {
  border-radius: 30%;
}

.navbar_item_container {
  margin-top: 100px;
  position: absolute;
  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.navbar_button {
  text-decoration: none;
  display: block;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 1.4em;
  color: black;
  transition: 0.3s;
}

.navbar_button:hover {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar_footer {
  margin-top: 15em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
}

.navbar_footer_link {
  margin: 20px;
  font-size: 1.4em;
  color: black;
  transition: 0.3s;
}

@media only screen and (max-width: 800px) {
  .navbar_container {
    width: 100%;
    height: 8em;
    top: calc(100% - 8em);
    padding: 0;
  }

  .navbar_profile {
    width: auto;
    height: 4.5em;
    margin: 0;
    margin-top: 1em;
    margin-left: .5em;
  }

  .navbar_item_container {
    width: 80%;
    margin: 0;
    height: 5em;
    left: 20%;
  }

  .navbar_button {
    display: inline-block;
    text-align: left;
    margin: 0;
    margin-right: 5%;
    margin-top: 5px;
    font-size: 1.1em;
  }

  .navbar_button:hover {
    font-size: 1.2em;
    font-weight: bold;
  }

  .navbar_footer {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: left;
  }

  .navbar_footer_link {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    height: auto;
    display: inline-block;
    font-size: 1.2em;
  }

  .navbar_footer p {
  
    display: inline-block;
  }
}

/* align div to be in center */
.center_container {
  font-family: Arial, Helvetica, sans-serif;
  width: calc(100% - 20em);
  height: 100%;
  margin-left: 20em;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0em;
  text-align: center;
  color: white;
}

.center_item {
  margin: 0;
  position: absolute;
  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.center_item h1 {
  font-size: 3em;
  margin: 0;
}

.center_item p {
  font-size: 1.5em;
  width: 50%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: rgb(194, 194, 194);
}

@media only screen and (max-width: 800px) {
  .center_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .center_item {
    top: 30%;
    height: auto;
  }

  .center_item h1 {
    font-size: 2em;
  }

  .center_item p {
    font-size: 1.3em;
  }
}

/* PROJECTS */
@keyframes display {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.pic-ctn {
  width: calc(100% - 30em);
  height: 100%;
  margin-left: 25em;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
}

.pic_project h1, .pic_project p {
  margin: 0;
}

.pic_project a {
  margin: 0;
  color: white;
}

.pic_project {
  position: absolute;
  top: 20%;
  left: 0;
  opacity: 0;
  animation: display 50s infinite;
  width: 100%;
}

.project_img {
  object-fit: cover;
}

div:nth-child(2) {
  animation-delay: 10s;
}
div:nth-child(3) {
  animation-delay: 20s;
}
div:nth-child(4) {
  animation-delay: 30s;
}
div:nth-child(5) {
  animation-delay: 40s;
}

@media only screen and (max-width: 800px) {
  /* set as grid */
  .pic-ctn {
    display: block;
    width: 100%;
    height: calc(100% - 8em);
    margin: 0 auto;
    padding: 0;
    overflow: scroll;
  }

  .pic_project {
    animation: none;
    display: block;
    opacity: 1;
    position: initial;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 5px;
    border: 2px #ffffff solid;
    border-radius: 10px;
    overflow: hidden;
  }

  .project_img {
    height: auto;
  }

  .pic_project p {
    width: 90%;
    margin: 0 auto;
  }
}

/* about me */
.colorElem {
  color: rgb(68, 191, 196);
  font-weight: bold;
}